<body>
    <h1>Как познакомиться с коллегой</h1>
    <p>После настройки Вашего профиля, Вы можете начать пользоваться мини-приложением и искать, например, компанию для похода за кофе.<br>Для этого:</p>
    <p>1. Нажмите “Найти” на главной странице. </p>
    <img src = 'assets/edumeet1.png'>
    <p>2. Вы видите коллегу, который может сегодня встретиться. </p>
    <img src = 'assets/edumeet2.png'>
    <p>3. Теперь Вы можете написать этому человеку, нажав “Написать”. Или посмореть на другого, нажав “Отказаться”
        <br>(Отказаться можно не более чем от одного человека в день. В случае второго отказа за день, Вы пропускаете день)</p>
    <img src = 'assets/edumeet3.png'>
    <p>4. Нажав на “Подробнее”,  Вы увидите развернутую карточку человека. </p>
    <img src = 'assets/edumeet4.png'>
    <br>
    <img src = 'assets/edumeet5.png'>
    <!-- <button class = "edubtn">Закрыть</button> -->
</body>