.cards {
    max-height: calc(100vh - 130px);
    overflow-y: auto;
}

.go-to-main {
    margin: 20px;
}

.go-to-main img {
    width: 28px;
    height: 28px;
    display: block;
}

.bonus {
    padding: 16px 17px;
}

.card {
    background-color: white;
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.15);
    margin: 0 17px 20px 17px;
    border-radius: 20px;
    width: calc(100% - 34px);
    display: flex;
  }
  
  .image-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .content {
    font-family: 'Montserrat', sans-serif;
    flex: 1;
    margin-right: 18px;
  }
  
  .bold-condition {
    font-weight: bold;
  }

  .content h2 {
    color: black;
    font-size: 16px;
    font-weight: 600;
}

.content p {
    color: #6D7885;
    font-size: 13px;
    font-weight: 400;
    margin-top: 5px;
}

  

/* .card {
    background-color: white;
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.15);
    width: calc(100% - 32px);
    margin: 20px auto;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.image-container {
    width: 108px;
    height: 124px;
    margin-right: 16px;
}

.image-container img {
    width: 100%;
    height: auto;
}

.content {
    font-family: 'Montserrat', sans-serif;
    flex-grow: 1;
    margin-left: 16px;
}

.content h2 {
    color: black;
    font-size: 16px;
    font-weight: 600;
    margin-right: 16px;
}

.content p {
    color: #6D7885;
    font-size: 13px;
    font-weight: 400;
    margin-top: 5px;
    margin-right: 16px;
}

.bold-condition {
    font-weight: 700;
}

.bold-condition p {
    margin: 0;
} */

.spacer {
    height: 120px; /* Высота пустого блока */
    width: 100%; /* Ширина равна ширине родительского контейнера */
    position: fixed; /* Фиксированное позиционирование */
    bottom: 0; /* Прижимаем к нижнему краю экрана */
    background-color: transparent; /* Цвет фона, если необходим */
}


.button-group {
    position: fixed;
    bottom: 20px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 5px;
    padding-top: 20px;
    z-index: 2;
}

.icon-button {
    background-color: #FFDD00;
    border: 2px solid #FFF6A1;
    color: #747474;
    width: 120px;
    height: 82px;
    padding: 10px 0 10px 0;
    margin: 0 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon-button:nth-child(3) {
    color: #4E3535;
    border: 2px solid #ECB300;
    padding-top: 7px;
}

.icon-button img {
    margin-bottom: 5px;
}

.calendar_icon {
    width: 22px;
    height: 24px;
}

.profile_icon {
    width: 28px;
    height: 28px;
}

.gift_icon {
    width: 27.5px;
    height: 27.5px;
}

.icon-button span {
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}