<body>
    <div class="cards">
        <div class="go-to-main" (click)="goToMainPage()">
            <img src="assets/go-to-main.png" alt="Test Picture">
        </div>
        <div class="card">
            <div class="image-container">
                <img src="assets/testpic.png" alt="Test Picture">
            </div>
            <div class="content">
                <h2>Вкус Парижа</h2>
                <p>Ресторан французской кухни с изысканными блюдами и атмосферой Парижа.</p>
                <p class="bold-condition">
                    Условие: при предъявлении мини-приложения скидка 7% на каждое второе блюдо в чеке.
                </p>
            </div>
        </div>
        <div class="card">
            <div class="image-container">
                <img src="assets/testpic2.png" alt="Test Picture">
            </div>
            <div class="content">
                <h2>Da Mario</h2>
                <p>Аутентичный итальянский ресторан с уютной атмосферой и изысканными блюдами.</p>
                <p class="bold-condition">
                    Условие: при предъявлении мини-приложения скидка 3% на любую пиццу.
                </p>
            </div>
        </div>
        <div class="card">
            <div class="image-container">
                <img src="assets/testpic3.png" alt="Test Picture">
            </div>
            <div class="content">
                <h2>Сакура</h2>
                <p>Уютный ресторан с японской кухней, специализирующийся на суши и роллах.</p>
                <p class="bold-condition">
                    Условие: промокод: «Кофе» -  скидка 20% на любой заказ.
                </p>
            </div>
        </div>
        <div class="card">
            <div class="image-container">
                <img src="assets/testpic4.png" alt="Test Picture">
            </div>
            <div class="content">
                <h2>Бриз</h2>
                <p>Ресторан средиземноморской кухни с изысканными морепродуктами и свежими овощами.</p>
                <p class="bold-condition">
                    Условие: каждый понедельник в 15:00 скидка 10% на все.
                </p>
            </div>
        </div>
        <div class="card">
            <div class="image-container">
                <img src="assets/testpic5.png" alt="Test Picture">
            </div>
            <div class="content">
                <h2>Дракон</h2>
                <p>Ресторан азиатской кухни с богатым выбором блюд из разных регионов Азии.</p>
                <p class="bold-condition">
                    Условие: промокод: «Красный» -  скидка 10% на все роллы.
                </p>
            </div>
        </div>
    </div>
    <div class="spacer"></div>
    <div class="bonus">
        <div class="button-group">
            <button class="icon-button" (click)="goToStatistics()">
                <img src="assets/calendar_icon.png" alt="calendar icon" class="calendar_icon">
                <span>Статистика</span>
            </button>
            <button class="icon-button" (click)="goToProfile()">
                <img src="assets/profile_icon.png" alt="profile icon" class="profile_icon">
                <span>Профиль</span>
            </button>        
            <button class="icon-button" (click)="goToBonus()">
                <img src="assets/gift_icon_black.png" alt="gift icon" class="gift_icon">
                <span>Бонусы</span>
            </button>
        </div>    
    </div>
</body>