<body>
    <div class="bonus">
        <div class="button-group">
            <button class="icon-button" (click)="goToStatistics()">
                <img src="assets/calendar_icon.png" alt="calendar icon" class="calendar_icon">
                <span>Статистика</span>
            </button>
            <button class="icon-button" (click)="goToProfile()">
                <img src="assets/profile_icon.png" alt="profile icon" class="profile_icon">
                <span>Профиль</span>
            </button>        
            <button class="icon-button" (click)="goToBonus()">
                <img src="assets/gift_icon_black.png" alt="gift icon" class="gift_icon">
                <span>Бонусы</span>
            </button>
        </div>    
    </div>
</body>