<body>
    <div class="profile">
        <div class="go-to-main" (click)="goToMainPage()">
            <img src="assets/go-to-main.png" alt="Test Picture">
        </div>
        <div class="profile-container">
            <button class="photo-button"><img src="assets/photo_icon.png" alt="Edit Icon"></button>
            <button class="save-button"><img src="assets/save_icon.png" alt="Edit Icon"></button>
        </div>
        <div class="profile-desc">
            <div class="experience-container">
                <img src="assets/bg-title.png" alt="Background Title" class="bg-title">
                <h2 class="title">Опыт работы</h2>
                <p class="description">Работаю супер программистом уровня senior</p>
            </div>
            <div class="separator"></div>
            <div class="experience-container">
                <img src="assets/bg-title.png" alt="Background Title" class="bg-title">
                <h2 class="title">Увлечения</h2>
                <p class="description">Люблю кататься на скейте и смотреть смешариков</p>
            </div>
            <div class="separator"></div>
            <div class="experience-container">
                <img src="assets/bg-title.png" alt="Background Title" class="bg-title">
                <h2 class="title">Отдел</h2>
                <p class="description">Веб-аналитика</p>
            </div>
            <div class="separator"></div>
            <div class="experience-container">
                <img src="assets/bg-title.png" alt="Background Title" class="bg-title">
                <h2 class="title">Время встреч</h2>
                <ul class="description">
                    <li>Понедельник, 30 мин</li>
                    <li>Четверг, 15 мин</li>
                </ul>
            </div>
            <div class="separator"></div>
            <div class="experience-container">
                <img src="assets/bg-title.png" alt="Background Title" class="bg-title">
                <h2 class="title">Режим работы</h2>
                <p class="description">Оффлайн</p>
            </div>
        </div>
        
        <div class="button-group" (click)="goToStatistics()">
            <button class="icon-button">
                <img src="assets/calendar_icon.png" alt="calendar icon" class="calendar_icon">
                <span>Статистика</span>
            </button>
            <button class="icon-button" (click)="goToProfile()">
                <img src="assets/profile_icon_white.png" alt="profile icon" class="profile_icon">
                <span>Профиль</span>
            </button>        
            <button class="icon-button" (click)="goToBonus()">
                <img src="assets/gift_icon.png" alt="gift icon" class="gift_icon">
                <span>Бонусы</span>
            </button>
        </div>    
    </div>
</body>