<body>
    <h1>Что такое “Статистика” и как ее посмотреть ?</h1>
    <p>“Статистика” это раздел мини-приложения, в котором пользователь может посмотреть его количество встреч за месяц за все время.<br>Для просмотра “Статистики”:</p>
    <p>1. Перейдите в раздел “Статистика”</p>
    <img src = 'assets/edustat1.png'>
    <p>2. В этом разделе Вы видите всю доступную статистику по использованию приложения.</p>
    <img src = 'assets/edustat2.png'>
    <!-- <button class = "edubtn">Закрыть</button> -->
</body>