<body>
    <h1>Как администратору удалить профиль сотрудника ?</h1>
    <p>1. Перейдите в раздел “Статистика”. </p>
    <img src = 'assets/eduadminremove1.png'>
    <p>2. Выберите профиль нужного сотрудника из списка.  </p>
    <img src = 'assets/eduadminremove2.png'>
    <p>3. В профиле пролистайте до конца. </p>
    <img src = 'assets/eduadminremove3.png'>
    <img src = 'assets/eduadminremove4.png'>
    <p>4. Нажмите на кнопку “Удалить”.  </p>
    <img src = 'assets/eduadminremove5.png'>
    <!-- <button class = "edubtn">Закрыть</button> -->
</body>