.center {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .yellow-button {
    background: radial-gradient(circle, #FFDD00, #E3CA22);
    color: white;
    width: 266px;
    height: 77px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-weight: 700;
    cursor: pointer;  
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.37);
  }

  .button-group {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    column-gap: 5px;
}

.icon-button {
    background-color: #FFDD00;
    border: 2px solid #FFF6A1;
    color: #747474;
    width: 120px;
    height: 82px;
    padding: 10px 0 10px 0;
    margin: 0 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-button img {
    width: 30px; /* Подстройте размеры иконки по вашему усмотрению */
    margin-bottom: 5px;
}

.icon-button span {
    font-size: 14px;
    font-weight: 500;
}

  