.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* это поможет разместить кнопку по центру вертикально */
  }
  
  .yellow-button {
    background-color: yellow;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  