<body>
    <div class="center">
        <img src="assets/logo.png" class="logo" (click)="findRandomPerson()">
        <button class="yellow-button" (click)="findRandomPerson()">Найти</button>
        <div class="button-group">
            <button class="icon-button">
                <img src="assets/calendar_icon.png" alt="calendar icon" class="calendar_icon">
                <span>Статистика</span>
            </button>
            <button class="icon-button" (click)="goToProfile()">
                <img src="assets/profile_icon.png" alt="profile icon" class="profile_icon">
                <span>Профиль</span>
            </button>        
            <button class="icon-button">
                <img src="assets/gift_icon.png" alt="gift icon" class="gift_icon">
                <span>Бонусы</span>
            </button>
        </div>
    </div>
    
</body>