<div class="center">
    <img src="assets/logo.png" class="logo" (click)="findRandomPerson()">
    <button class="yellow-button" (click)="findRandomPerson()">Найти</button>
    <div class="button-group">
        <button class="icon-button">
            <img src="assets/calendar_icon.png" alt="calendar icon">
            <span>Календарь</span>
        </button>
        <button class="icon-button" (click)="goToProfile()">
            <img src="assets/profile_icon.png" alt="profile icon">
            <span>Профиль</span>
        </button>        
        <button class="icon-button">
            <img src="assets/gift_icon.png" alt="gift icon">
            <span>Бонусы</span>
        </button>
    </div>
</div>
