<div class="center">
    <h1>Обучение</h1>
</div>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident quidem minus maxime? Officiis voluptatum perspiciatis sint dolore in possimus aperiam aliquid aspernatur amet animi? Itaque laborum sunt unde repudiandae? Ut.</p>
<br>
<div class="center">
    <img src ='assets\profile_img.png'/>
</div>
<br>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum mollitia ipsa dolorem hic veritatis recusandae ut dolores. Maiores corrupti incidunt nemo beatae quos suscipit recusandae facilis, perspiciatis eum, eaque ab!</p>
<br>
<ul>
    <h3>List</h3>
    <li>List1</li>
    <li>List2</li>
    <li>List3</li>
</ul>