<body>
    <div class="go-to-main" (click)="goToMainPage()">
        <img src="assets/go-to-main.png" alt="Test Picture">
    </div>
    <div class="statistics">
        <div class="card">
            <div class="card-content">
                <h2 class="card-title">Встреч за этот месяц:</h2>
                <div class="yellow-number">8</div>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <h2 class="card-title">Встреч за этот месяц:</h2>
                <div class="yellow-number">17</div>
            </div>
        </div>
        
        <div class="button-group">
            <button class="icon-button" (click)="goToStatistics()">
                <img src="assets/calendar_icon_black.png" alt="calendar icon" class="calendar_icon">
                <span>Статистика</span>
            </button>
            <button class="icon-button" (click)="goToProfile()">
                <img src="assets/profile_icon.png" alt="profile icon" class="profile_icon">
                <span>Профиль</span>
            </button>        
            <button class="icon-button" (click)="goToBonus()">
                <img src="assets/gift_icon.png" alt="gift icon" class="gift_icon">
                <span>Бонусы</span>
            </button>
        </div>    
    </div>
</body>