<body>
    <div class="profile">
        <div class="go-to-main" (click)="goToMainPage()">
            <img src="assets/go-to-main.png" alt="Test Picture">
        </div>
        <div class="profile-container">
            <img src={{userData.photoLink}} alt="Avatar" class="avatar" style="border-radius: 20px;">
            <div class="info">
                <h2 class="name">{{ userData.name }}</h2>
                <p class="age">Возраст: {{ userData.age }}</p>
            </div>
            <div (click)="goToProfileForm()">
                <button class="edit-button"><img src="assets/edit_icon.png" alt="Edit Icon"></button>
            </div>
        </div>
        <div class="profile-desc">
            <div class="experience-container">
                <img src="assets/bg-title.png" alt="Background Title" class="bg-title">
                <h2 class="title">Telegram User ID:</h2>
                <p class="description">{{ telegramUserId }}</p>
            </div>
            <div class="experience-container">
                <img src="assets/bg-title.png" alt="Background Title" class="bg-title">
                <h2 class="title">Опыт работы</h2>
                <p class="description">{{ userData.role }}</p>
            </div>
            <div class="separator"></div>
            <div class="experience-container">
                <img src="assets/bg-title.png" alt="Background Title" class="bg-title">
                <h2 class="title">Увлечения</h2>
                <p class="description">{{ userData.hobbies }}</p>
            </div>
            <div class="separator"></div>
            <div class="experience-container">
                <img src="assets/bg-title.png" alt="Background Title" class="bg-title">
                <h2 class="title">Отдел</h2>
                <p class="description">{{ userData.department }}</p>
            </div>
            <div class="separator"></div>
            <div class="experience-container">
                <img src="assets/bg-title.png" alt="Background Title" class="bg-title">
                <h2 class="title">Время встреч</h2>
                <ul class="description">
                    <li>Понедельник, 30 мин</li>
                    <li>Четверг, 15 мин</li>
                </ul>
            </div>
            <div class="separator"></div>
            <div class="experience-container">
                <img src="assets/bg-title.png" alt="Background Title" class="bg-title">
                <h2 class="title">Режим работы</h2>
                <p class="description">Оффлайн</p>
            </div>
        </div>
        
        <div class="button-group" (click)="goToStatistics()">
            <button class="icon-button">
                <img src="assets/calendar_icon.png" alt="calendar icon" class="calendar_icon">
                <span>Статистика</span>
            </button>
            <button class="icon-button" (click)="goToProfile()">
                <img src="assets/profile_icon_white.png" alt="profile icon" class="profile_icon">
                <span>Профиль</span>
            </button>        
            <button class="icon-button" (click)="goToBonus()">
                <img src="assets/gift_icon.png" alt="gift icon" class="gift_icon">
                <span>Бонусы</span>
            </button>
        </div>    
    </div>
</body>